<div class="container">
  <div class="banner">
    <div class="card">
      <img src="https://pbs.twimg.com/media/EsvYoawXIAAolyF.jpg" class="card-img-top" alt="...">
      <!-- <div class="card-body">
        <h5 class="card-title">Card title</h5>
      </div> -->
    </div>
  </div>

  <div class="box-parent-login">
    <div class="well bg-white box-login">
      <h1 class="ls-login-logo text-center">Logar</h1>
      <form role="form">
        <fieldset>

          <div class="form-group ls-login-user">
            <label for="userLogin">Usuário</label>
            <input class="form-control ls-login-bg-user input-lg" id="userLogin" type="text" aria-label="Usuário" placeholder="Usuário">
          </div>

          <div class="form-group ls-login-password">
            <label for="userPassword">Senha</label>
            <input class="form-control ls-login-bg-password input-lg" id="userPassword" type="password" aria-label="Senha" placeholder="Senha">
          </div>

          <a href="#" class="ls-login-forgot">Esqueci minha senha</a>

          <input type="submit" value="Entrar" style="background-color: black;" class="btn btn-primary btn-darck btn-block">

          <p class="txt-center ls-login-signup">Não possui um usuário na Locaweb?
            <a href="#"> Cadastre-se agora</a>
          </p>

        </fieldset>
      </form>
    </div>
  </div>
</div>
